extends layout

block content
	header
		div
			a(href="#" class="header-green")
				i(class="icon-mobile-phone icon-large") 
				拉勾APP
			a(href="#") 进入企业版
		div
			a(href="#") 登陆
			a(href="#") 注册

	nav
		div(class="max-width")
			div(class="logo")
				span
				a(href="#") 北京站
				a(href="#") [切换城市]
			div(class="page")
				a(class="current" href="#") 首页
				a(href="#") 公司
				a(href="#") 一拍

	block container
	
	div(class="footer-login")
		div 我是登录框

	footer
		div(class="footer-info max-width")
			span
			a(href="#") 拉勾APP
			a(href="#") 拉勾微博
			a(href="#") 拉勾微信
			a(href="#") 版本更新
			a(href="#") 帮助中心
			a(href="#") 联系我们
			a(href="#") 在线交流
			span 服务热线：400-605-9900 (9:00 -18:00)
		div(class="copyright max-width")
			span ©2016 Lagou
			a(href="#") 京ICP备14023790号-2
			a(href="#") 京公网安备11010802017116号