extends base

block container
	section(class="career-detail container max-width")
		section(class="career-detail-left")
			include career-detail-box
			include career-detail-interview
			include career-detail-others
			include career-detail-ad
		section(class="career-detail-right")
			include career-detail-com
			include career-detail-simi
			include career-detail-mobi