doctype html
html(lang="zh-CN")
	head
		meta(charset="utf-8")
		title 拉勾网-最专业的互联网招聘平台
		script(type="text/javascript" src="javascripts/jquery.js")
		link(rel="stylesheet" href="stylesheets/common.css")
		link(rel="stylesheet" href="stylesheets/font-awesome.min.css")

	body
		block content
