- var links = ["手机软件", "法律咨询网", "教师网", "手机软件", "法律咨询网", "教师网", "手机软件", "法律咨询网", "教师网", "手机软件", "法律咨询网", "教师网", "手机软件", "法律咨询网", "教师网", "手机软件", "法律咨询网", "教师网", "手机软件", "法律网", "教师网", "手机软件", "法律咨询网", "教师网"]

div(class="links-left") 友情链接
div(class="links-right")
	each link in links
		a(href="#")= link